@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./loader.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 85, 85, 85;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input,
button,
textarea {
  outline: none !important;
}

textarea {
  resize: none;
}

.linear-blue-pink {
  background: linear-gradient(90.79deg, #0048FF 3.42%, #D6008D 82.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.wrapper-one {
  position: absolute;
  background: transparent;
  top: 0;
}

.tagline {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cls-1, .cls-2 {
  fill: #fff;
}

.cls-3 {
  fill: #0276ef;
  stroke: #fff;
}

.cls-3, .cls-2 {
  stroke-miterlimit: 10;
  stroke-width: 70px;
}

.cls-2 {
  stroke: #0276ef;
}

.cls-3 {
  animation: line-anim 1.2s ease forwards infinite !important;
}

.c2-tag-bottom {
  position: relative;
}

.c2-tag-bottom::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background: #FFF;
  bottom: 16%;
  left: 7%;
}

.c2-button {
  font-size: 18px;
  display: flex;
  align-items: center;
  position: absolute;
  left: calc(50px + 9%);
  bottom: 2px;
  height: 46px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: #ffffff4d;
  border-radius: 1.75rem;
  color: #fff;
  justify-content: center;
  padding-left: 1.390625rem;
  padding-right: 1.390625rem;
  transition: all .2s ease-out;
  transition-property: background-color,color;
  -webkit-user-select: none;
  user-select: none;
  will-change: auto;
  transition: all 0.2s;
}

.c2-button span {
  margin-top: 3px;
}

.c2-button-arrow {
  margin-left: 8px;
}

.c2-button:hover {
  background: #FFF;
  padding-right: 2.78rem;
  transition: all 0.2s;
}

.c2-button:hover span {
  color: #000;
}

.c2-button svg {
  position: absolute;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.c2-button:hover svg {
  color: #000;
  visibility: visible;
  right: 16px;
  opacity: 1;
  transition: all 0.2s;
}

.spin-star {
  animation-name: spin-star;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin-star {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}